@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");

body {
  margin: 0;
  padding: 0;
}

body,
a,
button,
input {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: normal;
  margin: 0px;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin: 0px;
}

h3 {
  font-size: 20px;
  margin: 0px;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

label {
  color: #ffe8d2;
  font-size: 14px;
}

p {
  margin: 0px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #ffa07a;
  font-size: 20px;
}

a:hover {
  color: #ffc8a3;
}

button {
  font-size: 24px;
  background-color: rgba(255, 160, 122, 0.9);
  border: none;
  border-radius: 20px;
  padding: 5px 40px;
  color: #ffe8d2;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 5px 2px rgba(255, 200, 163, 0.5);
  /* box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.8); */
}

footer {
  /* text-align: center; */
  left: 0;
  bottom: 0;
  width: 100%;
  /* margin-top: auto; */
  position: fixed;
  padding: 10px;
  color: #ffa07a;
}

/* .burger-background-home-container {
  padding: 35px 60px;
  background-color: rgba(255, 160, 122, 0.5);
} */

.lightest-color,
h1,
h2,
h4,
p,
span {
  color: #ffe8d2;
}

input::placeholder {
  color: #86543c;
}

p,
h3 {
  font-weight: 300;
}

input {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(255, 232, 210, 0.8);
  border: none;
  color: #2b2529;
  font-size: 15px;
}

.app {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url("./images/bun_drop_background.jpg");
  /* background-image: url("./images/background_2.jpg"); */
  background-size: cover;
  background-position: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
}

.header-links-container {
  display: flex;
  margin-right: 40px;
  margin-top: 30px;
}

/* länkarna till höger i headern */
.header-link {
  margin-left: 20px;
}

.active {
  /* box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.8); */
  /* border-bottom: 2px solid #ffa07a; */
  pointer-events: none;
  /* text-decoration: underline; */
  color: #ffe8d2;
}

.flex-container,
.flex-container-home {
  display: flex;
  align-items: center;
}

.flex-container-whole-page {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.home-container {
  flex-direction: column;
  text-align: center;
  background-color: rgba(70, 50, 50, 0.8);
  padding: 60px 70px;
  border-radius: 20px;
}

.page-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(70, 50, 50, 0.8);
  border-radius: 20px;
  margin-top: 40px;
  width: 1100px;
  height: 600px;
}

.menu-items-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  overflow: auto;
}

.grid-item-border {
  border-right: 1px solid #ffa07a;
}

.my-order-item-parent-container,
.menu-item-parent-container {
  display: flex;
  /* flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; */
  /* border-bottom: 1px dotted #ffa07a; */
  padding: 15px 20px;
  position: relative;
}

.my-order-item-parent-container::before,
.menu-item-parent-container::before {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 0;
  border-bottom: 1px dotted #ffa07a;
}

.order-parent-container,
.payment-parent-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* .order-menu-container {
} */

.order-menu-container-list-scroll {
  /* height: 500px; */
  overflow: auto;
}

.order-menu-container > h2 {
  text-align: left;
  padding-left: 50px;
}

.my-order-container {
  overflow: auto;
  /* border-left: 1px solid #ffa07a; */
}

.order-menu-items-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.order-menu-list-item-container {
  display: flex;
  background-color: rgba(255, 160, 122, 0.4);
  border-radius: 20px;
  /* align-items: center;
  justify-content: center; */
}

.order-menu-list-item-container:hover {
  background-color: rgba(255, 160, 122, 0.6);
}

.order-menu-list-item-child-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: start;
  padding: 5px;
}

.item-image {
  width: 90px;
  border-radius: 45px;
  margin-top: 5px;
  margin-left: 5px;
}

.add-symbol {
  font-size: 28px;
  color: #ffc8a3;
}

.add-symbol:hover {
  /* box-shadow: 0 0 5px 2px rgba(255, 200, 163, 0.5); */
  color: #ffe8d2;
  cursor: pointer;
}

.order-summary-icon {
  cursor: pointer;
}

.order-summary-icon:hover {
  color: #ffa07a;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.5;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 10px;
  margin-top: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 500px;
}

.column {
  flex: 1;
  margin-right: 10px;
}

/* .column:last-child {
  margin-right: 0;
} */

.input-container {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffe8d2;
}

::-webkit-scrollbar-thumb {
  background-color: #ffa07a;
  border-radius: 5px;
}
